.App {
  align-items: center;
  min-height: 100vh;
  padding: 50px 30px;
}

.search-form {
  min-height: 10-vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
}

.search-button {
  padding: 10px 20px;
  color: white;
  background-color: orange;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}